<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header::common-header">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Menu fragment set Start-->

		<div th:replace="common/header::common-top-nav-menu">
			<!-- Navbar -->

			<!-- /.navbar -->
		</div>

		<div th:replace="common/header::common-sidebar-menu">
			<!-- Main Sidebar Container -->

		</div>

		<!--  Menu fragment set End -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<section class="content">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">All Department List View</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<table id="departmentTable" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Id</th>
											<th>Name</th>
											<th>Description</th>
											<th>Action</th>
											
										</tr>
									</thead>
									<tbody>
										<tr th:if="${departments != null}" th:each="item : ${departments}">
											<td th:text="${item.getId()}"></td>
											<td th:text="${item.getName() != null ? item.getName() : 'Anonymous'}"></td>
											<td th:text="${item.getDescription() != null ? item.getDescription() : ''}"></td>
											
											<td>
												<a th:href="@{/department/edit(id=${item.getId()})}" class="btn btn-info btn-icon-split">
												<span class="icon text-white-50">
                      								<i class=" nav-icon fas fa-edit"></i>
                    							</span>
                    							<span class="text" >Edit</span>
												</a>
											</td>
											
										</tr>
										
									</tbody>
									<tfoot>
										<tr>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
											<th>&nbsp;</th>
											
											
										</tr>
									</tfoot>
								</table>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</section>

		</div>

		<div th:replace="common/header::common-footer">
			<!-- /.content-wrapper -->

		</div>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->
	<div th:replace="common/header::common-script">
		<!-- jQuery -->
	</div>
</body>
</html>

